:root {
  --color-primary: red;
  --color-secondary: blue; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif; }

.container {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 100vh; }

.sidebar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background: blue; }

.intro {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr repeat(2, 8rem) 1fr;
  grid-template-columns: 50vw 1fr;
  background: grey; }

.title__container {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: yellow;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 3rem; }
  .title__container__text:first-child {
    margin-right: 1rem; }

.subtitle__container {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background: green;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 2rem; }
  .subtitle__container__text:nth-child(2) {
    margin: 0 1rem; }
