:root {
    --color-primary : red;
    --color-secondary: blue;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
}

.test {
    font-size: 10rem;

    &__test {
        background: var(--color-primary);
    }

}



